@charset "UTF-8";

/*共通部分-------------------------------------------*/
html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium";"游ゴシック Medium",
    YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height:1.7;
    color:#432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/*ヘッダー部分--------------------------------------*/
.logo{
    width: 210px;
    margin-top: 14px;
    color:#432;
    font-family: 'Philisipher',serif;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
    font-family: 'Philisipher',serif;
}
.main-nav a:hover{
    color:brown;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 4%;
}

/*トップページ----------------------*/
.home-content{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5px;
}
.home-content p{
    font-size:1.5rem;
    margin:5px 0 20px;
}
.page-title{
    font-size:4rem;
    font-family: 'Philisipher',serif;
    text-transform: uppercase;
    font-weight: normal;
}
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home{
    background-image: url(cotton.jpg);
    min-height: 120vh;
    -webkit-clip-path:polygon(0 0,100% 0%,100% 90%,0 100%);
    clip-path:polygon(0 0,100% 0%,100% 90%,0 100%);
}
#home .page-title{
    text-transform: none;
}
.button{
    font-size: 1.375rem;
    background:rgba(255, 255, 255, 0.3);
    color: #432;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 32px;
    border:1px solid #432;
    font-family: 'Philisipher',serif;
    width: 40vw;
    margin:20px auto;
    display: flex;
    justify-content: center; 
}
.button:hover{
    background: rgba(255, 255, 255, 0.7);
    color: #432;    
}

/*コンセプト部分---------------------*/
.concept p{
    font-size: 2rem;
    font-family: 'Philisipher',serif;
}
.concepttext{
    margin-left: 6vw;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.concepttext:after{
    border-top: 1px solid #432;
    content:"";
    width: 40vw;
}
.concepttext:after{
    margin-left: 2rem;
}
.conceptimg{
    flex:1;
    background-size:contain;
}
.conceptcontents{
    display: flex;
}
.conceptcontents p{
    font-size: 1rem;
    color: #432;
    width: 35vw;
    padding-right: 5vw;
}
/*ニュース部分-----------------------*/
.newstitle{
    font-size: 2rem;
    font-family: 'Philisipher',serif;
}
.newstitle{
    margin-left: 6vw;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.newstitle:after{
    border-top: 1px solid #432;
    content:"";
    width: 40vw;
}
.newstitle:after{
    margin-left: 2rem;
}
.news-list{
    list-style: none outside;
    width: 80vw;
    margin: 0 auto;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #FFF;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #FFF;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    color: #432;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #FFF;
    border:solid 1px #432 ;
    border-radius: 10px
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: brown;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
  
  /* 装飾 */
   
  *{
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  body{
    margin: 20px;
  }
  
  
/*コンタクト部分---------------------*/
.contacttitle{
    font-size: 2rem;
    font-family: 'Philisipher',serif;
}
.contacttitle{
    margin-left: 6vw;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.contacttitle:after{
    border-top: 1px solid #432;
    content:"";
    width: 40vw;
}
.contacttitle:after{
    margin-left: 2rem;
}
.form-group{
    width: 60vw;
    margin:0 auto;
}
.form-group a{
    font-family: 'Philisipher',serif;
    color: #432;
    font-size: 18px;
}
#exampleInputName1{
    width: 40vw;
    height: 5vh;
}
#exampleInputEmail1{
    width: 40vw;
    height: 5vh;
}
#exampleInputMessage1{
    width: 60vw;  
    height: 15vh;
}
.contactbtn{
    text-align: center;
}
.btn{
    font-family: 'Philisipher',serif;
    font-style: 18px;
    background-color: #fff;
    width: 8vw;
    height: 6vh;
    }

/*フッター部分-----------------------*/
footer p{
    text-align: center;
    font-size: 1.2rem;
}
